<!DOCTYPE html>
<!--
  This page is shown when the extension button is clicked, because the
  "browser_action" field in manifest.json contains the "default_popup" key with
  value "popup.html".
-->
<html>
  <head>
    <meta charset="utf-8" />
    <title>Letras</title>
    <style>
      body {
        font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
        font-size: 100%;
        width: 700px;
      }
      #status {
        /* avoid an excessively wide status text */
        white-space: pre;
        text-overflow: ellipsis;
        overflow: hidden;
        /*max-width: 400px;*/
      }
    </style>
    <link
      rel="stylesheet"
      type="text/css"
      href="node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <!--
      - JavaScript and HTML must be in separate files: see our Content Security
      - Policy documentation[1] for details and explanation.
      -
      - [1]: https://developer.chrome.com/extensions/contentSecurityPolicy
    -->
  </head>
  <body>
    <div id="app">
    <div class="container">
      <div>
        <h1 class="text-center">Procurar por musica</h1>
        <div class="row">
          <div class="col text-center">
            <form class="form" name="musicaForm">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="staticEmail2" class="sr-only">Música</label>
                    <input
                      type="text"
                      class="form-control"
                      v-model="musica"
                      id="musica"
                      placeholder="Música"
                    />
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="list-group">
          <button v-for="result in resultList" :key="result.id" @click="procuraLetra(result.id)" type="button" class="list-group-item list-group-item-action">{{result.band}} - {{result.title}}</button>
        </div>
        <!-- <div class="row">
          <div class="col text-center">
            <button class="btn btn-primary" @click="procuraLetra()" style="margin-bottom: 10px;">
              Procurar letra
            </button>
          </div>
        </div> -->
      </div>
      <div style="margin-top: 10px;" v-if="contemLetra">
        <h3 class="text-center">{{ nomeArtista }} - {{ nomeMusica }}</h3>
        <table>
          <thead>
            <tr class="row">
              <th class="col text-center">Inglês</th>
              <th class="col text-center">Português</th>
            </tr>
          </thead>
          <tbody>
            <tr class="row" v-for="verso in letra">
              <td class="col">{{ verso.ingles }}</td>
              <td class="col pr-1">{{ verso.portugues }}</td>
            </tr>
          </tbody>
        </table>

        <div style="margin: 10px 0;" class="row">
          <div class="col text-center">
            <button class="btn btn-primary" @click="voltar()">Voltar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="popup.js"></script>
  </body>
</html>
