<!DOCTYPE html>
<!--
  This page is shown when the extension button is clicked, because the
  "browser_action" field in manifest.json contains the "default_popup" key with
  value "popup.html".
-->
<html ng-app="letras">
  <head>
    <meta charset="utf-8" />
    <title>Getting Started Extension's Popup</title>
    <style>
      body {
        font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
        font-size: 100%;
        width: 700px;
      }
      #status {
        /* avoid an excessively wide status text */
        white-space: pre;
        text-overflow: ellipsis;
        overflow: hidden;
        /*max-width: 400px;*/
      }
    </style>
    <link
      rel="stylesheet"
      type="text/css"
      href="node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <!--
      - JavaScript and HTML must be in separate files: see our Content Security
      - Policy documentation[1] for details and explanation.
      -
      - [1]: https://developer.chrome.com/extensions/contentSecurityPolicy
    -->
  </head>
  <body ng-controller="ProcuraLetrasController">
    <div class="container">
      <div ng-show="!contemLetra">
        <h1 class="text-center">Busca Letra</h1>
        <div class="row">
          <div class="col text-center">
            <form class="form" name="musicaForm">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="staticEmail2" class="sr-only">Artista</label>
                    <input
                      type="text"
                      class="form-control"
                      ng-model="artista"
                      id="artista"
                      placeholder="Artista"
                    />
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="inputPassword2" class="sr-only">Música</label>
                    <input
                      type="text"
                      class="form-control"
                      ng-model="musica"
                      id="musica"
                      placeholder="Música"
                    />
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <button class="btn btn-primary" ng-click="procuraLetra()" style="margin-bottom: 10px;">
              Procurar letra
            </button>
          </div>
        </div>
      </div>
      <div style="margin-top: 10px;" ng-show="contemLetra">
        <h1>{{ resposta.artista }} - {{ resposta.musica }}</h1>
        <table>
          <thead>
            <tr>
              <th class="pull-right">Inglês</th>
              <th class="pull-left">Português</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="verso in letra">              
              <td>{{ verso.ingles }}</td>
              <td>{{ verso.portugues }}</td>
            </tr>
          </tbody>
        </table>

        <div style="margin: 10px 0;" class="row">
          <div class="col text-center">
            <button class="btn btn-primary" ng-click="voltar()">Voltar</button>
          </div>
        </div>
      </div>
    </div>

    <script src="node_modules/angular/angular.min.js"></script>
    <script src="popup.js"></script>
  </body>
</html>
